

html {
    font-size: 62.5%;
    
  }
  
  .project-section{
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
     
      
      
    
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
    width: 37rem;
    height: 50rem;
}

.project{
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.project button{
  z-index: 20;
}
.project img{
  width: 90%;
  height: 90%;
  border-radius: 5%;
  z-index: 20;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#c3f0ca;
    border-radius: 25px 25px 0 25px

}
.overlay::before,
.overlay::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #c3f0ca;
    
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
    
}
.card-content{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.card-content p{
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}
.card-content span{
    border-radius: 25px;
    border: 1px solid #000000;
    padding: 5px;
    font-size: 11px;
    margin: 0 3px;

}
.filler{
  background-color: #faebd7;
  border: none;
}


.card-content button{
    margin-top: 50px;
    width: 76%;
    height: 40px;
    margin-left: 10px;
    padding: 10px 0px;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
}
.card-content button:hover{
  background-color: #ff8ba7;
  color: #000000;
}
.card-content i{
  
  font-size: 2.5rem;
  padding:10px 5px;
  border-radius: 15px;
  background-color: antiquewhite;
}


.card-container {
  width: 100vw;
  /* height: 100%; */
  padding: 4rem 0;
  margin: 0 auto;
  position: relative;
 
}

.heading {
  margin: 0;
  font-size: 4.5rem;
  text-align: center;
  margin-top: 3rem;
  font-family: "DM Serif Display", serif;
  color: #ff8ba7;
  font-weight: 900;
}


.swiper_container {
  height: 56rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
  margin: 0 3rem;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 57rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .card {
    width: 28rem !important;
    height: 46rem !important;
  }
}



.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #ff8ba7;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #ff8ba7;
}
